.footer-div-wrap {
    height: 100%;
    width: auto;
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-text {
    display: flex;
    align-items: center;
    padding-left: 0.5%;
    color: antiquewhite;
}

.footer-link {
color: antiquewhite;
&:hover {
    color: 	#cdaa7d;
}
}

.socials-div {
    display: flex;
    align-items: center;  
    padding-right: 0.5%;
}

.instagram {
    height: 5.5vh;
    width: auto;
}

.email {
    height: 5.4vh;
    width: auto;
    margin-bottom: 0.5vh;
    padding-left: 0.5vw;
}

@media only screen and (max-width: 600px) {
    .footer-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 601px) { 
    .footer-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .footer-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .footer-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    .footer-div-wrap {
        width: 100%
    }
}

