.header-wrap {
    background-color: #363636;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.wildwood {
    height: 10vh;
    width: auto;
    display: flex;
}

.image-div {
    display: flex;
    padding-right: 55%;
    padding-left: .5%;
}

 .nav-link {
    padding-right: 2%;
    color: antiquewhite;
    text-shadow: 0 1.5px 0 black;
    &:hover {
        color: 	#cdaa7d;
        text-shadow: 0 0.5px 0 white;
    }
}
li 
{
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    .header-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 601px) { 
    .header-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .header-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .header-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    .header-wrap {
        width: 100%
    }
}

