html {
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
}

.home-div-wrap {
    background: linear-gradient(rgba(9, 9, 6, 0.4), rgba(8, 7, 7, 0.8)), url('../assets/chisel-bg-1.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}
.home-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.greeter-div {
    padding-top: 4%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.welcome {
    font-size: 7vh;
    color: antiquewhite;
    text-shadow: 0 1.5px 0 black;
}

.welcome-2 {
    font-size: 5.5vh;
    color: antiquewhite;
    text-shadow: 0 1.5px 0 black;
}

.home-cta {
    font-size: 3.5vh;
    color: antiquewhite;
    text-shadow: 0 1.5px 0 black;
}

.services {
    display: flex;
    flex-direction: row;
    color: antiquewhite;
    text-shadow: 0 1.5px 0 black;
    font-size: x-large;
}

.chisel {
    height: 75%;
    width: auto;
}

.chisel-div {

}

.home-text {
    background: linear-gradient(rgba(9, 9, 6, 0.4), rgba(8, 7, 7, 0.8)), url('../assets/dark-wood.png');
    height: 75%;
    width: auto;
}

@media only screen and (max-width: 600px) {
    .home-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 601px) { 
    .home-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 768px) {
    .home-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 992px) {
    .home-div-wrap {
        width: 100%
    }
}

@media only screen and (min-width: 1200px) {
    .home-div-wrap {
        width: 100%
    }
}